body{
    text-align: center;
}

/* buttons */
.waves-effect.waves-pink {
    background-color:#ff0065;
}

.waves-effect.waves-lblue {
    background-color:#31a6ff;
}

.waves-effect.waves-lgreen {
    background-color:#50ce55;
}

.waves-effect.waves-gold {
    background-color:#ecbe1d;
}
.waves-effect.waves-lteal {
    background-color:#66b2b2;
}
.waves-effect.waves-salmon {
    background-color:#f6546a;
}


.btn:hover{
    background-color: #673AB7 !important;
}